body, h2, p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(64, 124, 130);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.card {
    text-align: center;
    background-color: rgba(31, 27, 6, 0.934);
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(225, 11, 11, 0.2);
    padding: 10px;
    margin: 10px; 
    width: 250px;
    height: 290x;
    border-radius: 60px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

h2 {
    color: rgb(25, 90, 79);
}

p {
    color: #c5a7a7; /* Slightly brighter shade for text */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.button {
    background-color: #0a2730; 
    color: #12681f;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer; 
}

.button:hover {
    background-color: #42191c; 
}